<!DOCTYPE HTML>

<html>

  <head>
    <title>About Commentary</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet"
	  href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">

    <link href="../static/design.css" rel="stylesheet"> 
  </head>

  <div id="topMenu" class="pure-menu pure-menu-open pure-menu-horizontal one-edge-shadow">
    <li><a href="/" style="text-align:center">Home</a></li>
    <li><a href="/about" style="text-align:center">About Commentary</a></li>
    <li><a href="/team" style="text-align:center">The Commentary Team</a></li>
  </div>

  <body style="padding:0px">
    <br><br><br><section id="mainTitle">About Commentary</section>
    <br><br><br>
    <div id="blockText" style="margin-left:100px; margin-right:100px">
      <center><p>
	  Judging by the immense number of poisonous YouTube comments there is a strong demand for them. We exist to satisfy that demand on every other website on the internet. Commentary brings  YouTube comments to the world.
	</p><br><p>
	  We reach this goal through a Chrome extension, which allows users to easily comment anything on any webpage, and view other users comments as well. The user simply has to type a comment into the text box and click send comment for the whole web to view their thoughts.
	</p><br><p>
	  Future versions may include  upvoting and downvoting capabilities as well as a live update of the running Commentary feed for each webpage.
      </p></center>
    </div>
  </body>

</html>
