<!DOCTYPE HTML>

<html>

  <head>
    <title>About Commentary</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet"
	  href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">

    <link href="../static/design.css" rel="stylesheet"> 
  </head>

  <body>
    <br><br><br><section id="mainTitle">About Commentary</section>
    <br><br>
    <p><center>
    Judging by the immense number of poisonous youtube comments there is a strong demand for them. We exist to satisfy that demand on every other website on the internet. Commentary bringing the YouTube Comments to the world.
    </center></p>
    <br><br>
    This is a dummy page.

  </body>

</html>
