<!DOCTYPE HTML>

<html>

  <head>
    <title> Commentary Team </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet"
	  href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">

    <link href="../static/design.css" rel="stylesheet"> 
  </head>

  <div id="topMenu" class="pure-menu pure-menu-open pure-menu-horizontal one-edge-shadow">
    <li><a href="/" style="text-align:center">Home</a></li>
    <li><a href="/about" style="text-align:center">About Commentary</a></li>
    <li><a href="/team" style="text-align:center">The Commentary Team</a></li>
  </div>

  <body>
    <br><br><br><section id="mainTitle">The Commentary Team</section>
    <br><br>
    <center><p>
	<font size="6">The Team: </font> <br><br>
	<img src="../static/pic_justin.jpg" alt="Justin"><br>
	Justin Kim: Project Manager and Database Architect <br><br>
	<img src="../static/pic_elise.jpg" alt="Elise"><br>
	Elise Zlotnikova: Frontend Developer and Chrome Extension Virtuoso <br><br>
	<img src="../static/pic_sappha.jpg" alt="Sappha"><br>	
	Sappha O'Meara: Design and Backend Developer <br><br>
	<img src="../static/pic_benedict.jpg" alt="Benedict"><br>	
	Benedict Bolton: Design and Backend Developer <br><br>
    </p></center>
    <br><br>

  </body>

</html>
